# Keil 编译输出
*.o
*.d
*.crf
*.dep
*.lst
*.map
*.htm
*.lnp
*.sct
*.axf
*.hex
*.bin
*.elf
*.build_log.htm
Listings/
Objects/

# Keil 临时文件
*.uvguix.*
*.bak
*.admin
*.iex
*.browse
*.lin
RTE/

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store

# 用户个人配置（保留工程文件，忽略个人布局）
*.uvgui.*
Drivers/